@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* text-black */
  color: white;
  /* bg-black */
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div#root {
  min-height: 100vh;
}

/*
 *
 *
 *
 */

 html body a {
  /* text-sky-400 */
  color: rgb(56, 189, 248);
 }

/*
 *
 *
 *
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::selection {
  /* bg-sky-400 */
  background-color: rgb(56, 189, 248);
}

input::-moz-selection {
  /* bg-sky-400 */
  background-color: rgb(56, 189, 248);
}

/*
 *
 *
 *
 */

.dialog {
  /* border */
  border-width: 1px;
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .dialog {
  /* bg-gray-900 */
  background-color: rgb(17, 24, 39);
  /* border-gray-700 */
  border-color: rgb(55, 65, 81);
}

.deposit.dialog,
.guardian.dialog {
  /* left-1/2 */
  left: 50%;
  /* max-h-[50vh] */
  max-height: 50vh;
  /* max-w-[450px] */
  max-width: 450px;
  /* overflow-y-auto */
  overflow-y: auto;
  /* fixed */
  position: fixed;
  /* top-1/2 */
  top: 50%;
  /* -translate-x-1/2 -translate-y-1/2 */
  transform: translate(-50%, -50%);
  /* w-[90vw] */
  width: 90vw;
}

/*
 *
 *
 *
 */

.button {
  /* items-center */
  align-items: center;
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* flex */
  display: flex;
  /* font-medium */
  font-weight: 500;
  /* justify-center */
  justify-content: center;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html body .button,
html body .button.enabled {
  /* cursor-pointer */
  cursor: pointer;
}

html body input:disabled,
html body .button.default,
html body .button.failure,
html body .button.invalid,
html body .button.loading,
html body .button.success,
html body .button.disabled,
html body .button:disabled,
html body .deposit.dialog .button[data-disabled] {
  /* cursor-not-allowed */
  cursor: not-allowed;
}

html body .button[data-state=on],
html body .wallet.dialog .button[data-disabled] {
  /* cursor-default */
  cursor: default;
}

/*
 *
 *
 *
 */

.button.form.default,
.button.form.invalid {
  /* text-black */
  color: black;
  /* bg-rose-600 */
  background-color: rgb(225, 29, 72);
}

.button.form.enabled {
  /* text-black */
  color: black;
  /* bg-sky-400 */
  background-color: rgb(56, 189, 248);
}

.button.form.loading {
  /* text-gray-600 */
  color: rgb(75, 85, 99);
  /* bg-sky-400 */
  background-color: rgb(56, 189, 248);
}

.button.form.loading svg {
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

.button.form.failure {
  /* text-black */
  color: black;
  /* bg-rose-600 */
  background-color: rgb(225, 29, 72);
}

.button.form.success {
  /* text-black */
  color: black;
  /* bg-emerald-600 */
  background-color: rgb(5, 150, 105);
}

.button.form.success svg {
  /* text-black */
  color: black;
}

/*
 *
 *
 *
 */

.dark .button.solid {
  /* bg-sky-400 */
  background-color: rgb(56, 189, 248);
  /* text-black */
  color: black;
}

.dark .button.solid.disabled {
  /* bg-sky-900/25 */
  background-color: rgb(12, 74, 110, 0.25);
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

/*
 *
 *
 *
 */

.dark .button.ghost {
  /* bg-transparent */
  background-color: transparent;
  /* text-gray-300 */
  color: rgb(209, 213, 219);
  /* justify-start */
  justify-content: flex-start;
}

.dark .button.ghost:hover {
  /* bg-sky-900/25 */
  background-color: rgb(12, 74, 110, 0.25);
}

.dark .button.ghost:disabled,
.dark .button.ghost.icon:disabled {
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

.dark .button.ghost.icon:hover {
  /* bg-transparent */
  background-color: transparent;
}

.dark .wallet.dialog .button.ghost {
  /* text-gray-300 */
  color: rgb(209, 213, 219);
}

.dark .wallet.dialog .button.ghost[data-highlighted] {
  /* bg-sky-900/50 */
  background-color: rgb(12, 74, 110, 0.50);
}

.dark .wallet.dialog .button.ghost[data-disabled] {
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

/*
 *
 *
 *
 */

.dark .button.outline {
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* border */
  border-width: 1px;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .button.outline[data-state=on] {
  /* border-sky-400 */
  border-color: rgb(56, 189, 248);
  /* text-white */
  color: white;
}

.dark .button.outline[data-state=off] {
  /* border-gray-700 */
  border-color: rgb(55, 65, 81);
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

.dark .button.outline[data-state=off]:hover {
  /* bg-sky-900/50 */
  background-color: rgb(12, 74, 110, 0.50);
  /* border-transparent */
  border-color: transparent;
  /* text-gray-300 */
  color: rgb(209, 213, 219);
}

.dark .button.outline[data-state=off]:disabled:hover {
  /* bg-transparent */
  background-color: transparent;
  /* text-gray-600 */
  color: rgb(75, 85, 99);
}

/*
 *
 *
 *
 */

.toast {
  /* items-center */
  align-items: center;
  /* rounded */
  border-radius: 0.25rem;
  /* flex */
  display: flex;
  /* gap-4 */
  gap: 1rem;
  /* p-4 */
  padding: 1rem;
  /* w-full */
  width: 100%;
}

.toast.info {
  /* bg-yellow-400 */
  background-color: rgb(250, 204, 21);
  /* text-black */
  color: black;
}

/*
 *
 *
 *
 */

 @keyframes infiniteProgressSpinner {
  0% {
    stroke-dashoffset: 0;
  }

  15% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: -24;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.spinner {
  stroke-dasharray: 96;
  animation: infiniteProgressSpinner 3s ease-in-out infinite;
}
