@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div#root {
  min-height: 100%;
}

.dark .button {
  /* items-center */
  align-items: center;
  /* bg-sky-400 */
  background-color: rgb(56 189 248);
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* text-black */
  color: black;
  /* cursor-pointer */
  cursor: pointer;
  /* flex */
  display: flex;
  /* font-medium */
  font-weight: 500;
  /* justify-center */
  justify-content: center;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .button.transparent {
  /* gray-300 */
  color: rgb(209 213 219);
  /* bg-transparent */
  background-color: transparent;
  /* justify-start */
  justify-content: flex-start;
}

.dark .button.transparent:hover {
  /* text-white */
  color: white;
}

.dark .dialog {
  /* gray-900 */
  background-color: rgb(17 24 39);
  /* border */
  border-width: 1px;
  /* gray-700 */
  border-color: rgb(55 65 81);
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .dialog .menu.item {
  /* gray-300 */
  color: rgb(209 213 219);
  /* cursor-pointer */
  cursor: pointer;
  /* flex */
  display: flex;
  /* items-center */
  align-items: center;
  /* justify-between */
  justify-content: space-between;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .dialog .menu.item svg {
  /* gray-300 */
  color: rgb(209 213 219);
}

.dark .dialog .menu.item[data-highlighted] {
  /* text-white */
  color: white;
  /* gray-700 */
  background-color: rgb(55 65 81);
  /* rounded (4px) */
  border-radius: 0.25rem;
  /* outline-none */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark .dialog .menu.item[data-highlighted] svg {
  /* text-white */
  color: white;
}

.dark .dialog .menu.item[data-disabled] {
  /* gray-600 */
  color: rgb(75 85 99);
  /* cursor-default */
  cursor: default;
}

.dark .icon {
  /* text-white */
  color: white;
}

.dark .group:hover .icon {
  /* text-gray-400 */
  color: rgb(156 163 175);
}
